* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fffaf5;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

button,
textarea,
select,
input {
    font-size: inherit;
    font-family: inherit;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(1170px - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-block;
    min-width: 264px;
    height: var(--height);
    border: 1px solid var(--primary-color);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: var(--height);
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.7;
}

.section-label {
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.section-heading {
    font-family: "Sora";
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* header */
header {
    padding-top: 16px;
}

.header__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 12px 18px;
}

.nav-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.nav-item__active,
.nav-item:hover .nav-link {
    text-shadow: 1px 0 0;
}

.header-btn {
    --height: 50px;
    min-width: 117px;
    border-color: #000958b3;
    font-size: 1.4rem;
}

/* hero */
.hero {
    padding: 90px 0;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    background: #fe997b;
    border-radius: 16px;
}

.hero__img {
    display: block;
    width: 100%;
    border-radius: 16px;
}

.hero__decor {
    position: absolute;
}

.hero__decor-top {
    top: -16px;
    right: -41px;
    z-index: -1;
}

.hero__decor-bot {
    left: -58px;
    bottom: -10px;
    z-index: -1;
}

.hero__img-wrap-small {
    align-self: self-end;
    margin-left: -23px;
    margin-bottom: -58px;
    width: 168px;
    height: 244px;
    background: #faa7ad;
}

.hero-card {
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 0 14px;
    width: 250px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-card__item {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.hero-card__thumb {
    object-fit: cover;
    width: 40px;
    height: 40px;
    background: #fec23f;
    border-radius: 10px;
}

.hero-card__item:last-child .hero-card__thumb {
    background: #c6e2fa;
}

.hero-card__info {
    margin-left: 10px;
}

.hero-card__title {
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero-card__skeleton {
    margin-top: 6px;
    display: block;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-card__skeleton-small {
    width: 39px;
}

.hero-separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
}

.hero-heading {
    width: 517px;
    margin-bottom: 24px;
    font-family: "Sora";
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero-desc {
    width: 391px;
    margin-bottom: 38px;
}

.hero__cta-group {
    display: flex;
    align-items: center;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    --height: 60px;
    min-width: 189px;
    background: #ff5b2e;
    color: #ffffff;
}

.hero-btn-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    color: #fd5056;
}

.hero-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration-line: underline;
    color: #000958;
}

/* about */
.about {
    padding: 117px 0;
}
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    row-gap: 146px;
}
/* content-top */
.about-heading {
    margin-top: 15px;
}

.about-desc {
    margin: 24px 0 54px;
    width: 444px;
}

.checklist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
    column-gap: 36px;
}

.check-item {
    position: relative;
    column-gap: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.check-item::after {
    position: absolute;
    content: url(../img/checked.svg);
    left: 4px;
}

/* media-top */
.about-media {
    position: relative;
    padding-left: 92px;
    width: 494px;
}

.about__img-wrap {
    position: relative;
    width: inherit;
    display: flex;
}

.about__img-wrap::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    z-index: -1;
}

.about-decor {
    position: absolute;
    right: -50px;
    bottom: 358px;
    z-index: -1;
}

.about-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.about-card {
    position: absolute;
    bottom: 238px;
    left: 0;
    padding: 30px 26px;
    width: 136px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}

.about-card::before {
    position: absolute;
    top: -40px;
    right: -30px;
    content: url(../img/about-decor-1.svg);
}

.about-card__number {
    font-family: "Sora";
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 42px;
    color: #ffffff;
}

.about-card__desc {
    display: inline-block;
    margin-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

/* about-media-bot */
.about-media-bot {
    padding: 0;
    width: 458px;
}

.about__img-wrap-bot::after {
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border: 2px solid #ffffff;
    height: 100%;
}

.about-decor-bot:nth-child(1) {
    position: absolute;
    top: 12px;
    right: 63px;
}

.about-decor-bot:nth-child(2) {
    position: absolute;
    top: -16px;
    right: 13px;
}

.about-decor-bot:nth-child(3) {
    position: absolute;
    top: 33px;
    right: -21px;
}

.about-decor-bot:nth-child(4) {
    position: absolute;
    top: 286px;
    right: -33px;
}

.about-decor-bot:nth-child(5) {
    position: absolute;
    top: 336px;
    right: 19px;
}

.about-decor-bot:nth-child(6) {
    position: absolute;
    top: 435px;
    right: -23px;
}

.about-decor-bot:nth-child(7) {
    position: absolute;
    top: 442px;
    right: -32px;
}

.about-decor-bot:nth-child(8) {
    position: absolute;
    top: 446px;
    right: -42px;
}

/* content-bot */

.about-desc-bot {
    margin-top: 24px;
    width: 511px;
}

/* media-bot */
.about-list {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.about-list::after,
.about-item__active::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #ff5b2e;
    border-radius: 2px;
    opacity: 0.07;
}

.about-item {
    padding-bottom: 14px;
}

.about-item__active::after {
    width: 95px;
    opacity: 1;
}

.about-item-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about-item__icon {
    width: 24px;
}

.about-item__label {
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
    white-space: nowrap;
}

.about-info {
    margin-top: 36px;
}

.about-info__desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.about-info__link {
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
    text-decoration: underline;
}
.about-info + .about-info {
    display: none;
}
